*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* Colors
#A90011
#D11D27
#FBEBD8
#FFFAEF
#FFFFFF
#E53C38
*/

/* Custom properties -- update these for your own design */

:root {
    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Source Code Pro', monospace;

    --fw-reg: 300;
    --fw-bold: 900;

    --clr-light: #fff;
    --clr-dark: #333;
    --clr-accent: #B44;
    --clr-dark-candy-apple-red: #A90011;
    --clr-fire-engine-red: #D11D27;
    --clr-antique-white: #FBEBD8;
    --clr-floral-white: #FFFAEF;
    --clr-cinnabar: #E53C38;


    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
          0.125em 0.125em 0.25em rgba(0,0,0,.15);

    --bs-light: 0.125em 0.125em 0.25em rgba(0,0,0,.15);
}

html {
    /* Common technique to make converting to rem easy */
    /* We want 10px --> 10 / 16 --> 62.5%*/
    font-size: 62.5%;
}


body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
}


/* Navigation Styling */

.nav {
    position: sticky;
    top: 0;
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 2.4rem;
    box-shadow: var(--bs);
    z-index: 2;
}

.nav-list {
    list-style-type: none;
    flex-direction: column;
    justify-content: flex-end;
    position: absolute;
    top: 100%;
    gap: 1.5rem;
    background:var(--clr-accent);
    padding: 1.5rem;
    width: 100%;
    box-shadow: var(--bs);
    display: flex;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
}

.nav__logo {
    margin: 0 auto;
    text-align: center;
    color: var(--clr-dark);
    font-weight: 700;
    font-style: italic;
}

.nav-list__item + .nav-list__item {
    margin-left: 0;
}

.nav-list__item a {
    text-decoration: none;
    padding-left: 1.5rem;
    color: var(--clr-light);
    width: 100%;
    opacity: 0;
    transition: opacity 150ms ease-in-out 0ms;
    text-transform: uppercase;
    letter-spacing: .25rem;
}

.nav-list__item a:hover {
    color: var(--clr-dark);
}

.nav-toggle {
    display: none;
}

.nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 3rem;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background: var(--clr-dark);
    height: 2px;
    width: 3rem;
    border-radius: 2px;
    position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: "";
    position: absolute;
}

.nav-toggle-label span::before {
    bottom: 7px;
}

.nav-toggle-label span::after {
    top: 7px;
}

.nav-toggle:checked ~ .nav-list {
    transform: scale(1, 1);
}

.nav-toggle:checked ~ .nav-list a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}


@media screen and (min-width: 800px) {
    .nav-toggle-label {
        display: none;
    }

    .nav {
        display: grid;
        grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
        justify-content: flex-end;
        align-items: center;
    }

    .nav__logo {
        grid-column: 2 / span 1;
    }

    .nav-list {
        all: unset;
        grid-column: 3 / 4;
        list-style-type: none;
        text-align: center;
        justify-content: flex-end;
        display: flex;
        
    }

    /* Remove sibling styling */
    .nav-list__item + .nav-list__item {
        margin-left: 3rem;
    }    

    .nav-list a {
        opacity: 1;
        color: var(--clr-dark);
        font-size: 1.6rem;
        position: relative;
        padding: 0;
        letter-spacing: .5rem;
    }

    .nav a::before,
    .nav a::after {
        content: "";
        display: block;
        height: 1px;
        border-radius: 2px;
        background: var(--clr-dark);
        position: absolute;
        right: 0;
        left: 0;
        transform: scale(0, 1);
        transition: transform ease-in-out 250ms;
    }

    .nav a::before {
        bottom: -.5rem;
    }

    .nav a::after {
        top: -.5rem;
    }

    .nav a:hover::after,
    .nav a:hover::before {
        transform: scale(1, 1);
    }

}





/* Header Styling */ 

.header {
    position: relative;
    background-image: linear-gradient(
        to right bottom,
        var(--clr-accent),
        var(--clr-cinnabar)
    );
    background-size: cover;
    background-position: top;
    width: 100%;
    height: 100vh;
}

.header__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header__logo {
    animation: fill 1s ease forwards 1.5s;
}

.header__logo path:nth-child(1) {
    stroke-dasharray: 1922px;
    stroke-dashoffset: 1922px;
    animation: line-anim 5s ease forwards;
}


/* Header Button Styling */

.header__btn {
    display: block;
    margin: 5rem auto;
    border-radius: 10rem;
    padding: 1rem 5rem;
    font-size: 2.4rem;
    background-color: white;
    outline: none;
    border: none;
    animation: moveInBottom .8s ease-in 2s;
    animation-fill-mode: backwards;
    position: relative;
    font-family: 'Poppins'
}

.header__btn:hover {
    cursor: pointer;
    transform: translateY(-.3rem);
    box-shadow: var(--bs);
}

.header__btn:active {
    transform: translateY(-.1rem);
    box-shadow: var(--bs-light);
}

.header__btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    /* Needs to have a reference -- first element with pos relative that it can find */
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
    background-color: white;
}


.header__btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

@media screen and (max-width: 800px) {
    .header__logo  {
        width: 300px;
    }

    .header__btn {
        margin: 2rem auto;
    }
}



/* Section Styling */
section {
    max-width: 960px;
    margin: 5rem auto;

}



/* Blog styling */

.blog__posts {
    margin-top: 3rem;
    margin: 3rem 3rem 0rem 3rem;
    display: grid;
    grid-gap: 3rem;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
}

.blog__post {
    border-radius: 1rem;
    padding: 2rem;
    cursor: pointer;
    box-shadow: var(--bs);
}

.post__header {
    height: 10rem;
}


/* Animations */

@keyframes line-anim{
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes fill {
    from {
        fill: transparent;
    }
    to {
        fill: white;
    }
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(1rem);
    }

    80% {
        transform: translateY(-.2rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);  /*This will move it back to its original position*/ 
    }
}
